<!DOCTYPE html>
<mat-sidenav-container class="mat-container">

  <header class="header">
    <app-nav-home> </app-nav-home>
  </header>


  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="centered-text">
          <h1 >Somos Bee Keeper</h1>
          <p id = "p1" >Ayudamos a administrar mejor tus cuentas por pagar</p>
        </div>

      </mat-toolbar-row>

    </mat-toolbar>


    <mat-grid-list cols="2" height = 100px>
      <!-- Primera columna: Texto adicional -->
      <mat-grid-tile >
        <div class="additional-text">
          <h2>Propósito:</h2>
          <p>Ayudamos a administrar mejor tus cuentas por pagar mediante alarmas y métodos de pago integrados.</p>
        </div>
      </mat-grid-tile>
      
      <!-- Segunda columna: Imagen -->
      <mat-grid-tile>
        <img [src]="imagePath" alt="Imagen">
      </mat-grid-tile>
    </mat-grid-list>

    <footer>
      <app-footer> </app-footer>
    </footer>



  </mat-sidenav-content>