mat-toolbar-row {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 0;
    background-color: white;

}

mat-toolbar {
    background-color: white;

}

.toolbarMiddleSpace {
    flex: 1 1 auto;
}


.container {
    margin-top: 200px;
    margin: 0 auto;
    max-width: 600px; 
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
}

th, td {
    
    background-color: #f6dff8 ;
    padding: 8px;
    text-align: center;
    border: none; 
}

th {
    background-color: white;
}
h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Lexend', sans-serif;
    height: 50px;
    text-align: center;
    color: #4D0D53;
    margin-bottom: 50px;


}

.Titulo{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Lexend', sans-serif;
    height: 50px;
    text-align: center;
    color: black;

}

#bill-list{

    background-color: #F6CDFA ;
}



.recarga-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
}

.btnRecarga {
    background-color: #F6CDFA;
    border-color: #F6CDFA;
    color: black;
    font-family: 'Lexend', sans-serif;
}