<!DOCTYPE html>
<mat-sidenav-container class="mat-container">

    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <header class="header">
                    <app-main-nav> </app-main-nav>
                </header>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <span class="toolbarMiddleSpace"></span>

                <div class="centered-text">
                    <h1>Últimos Movimientos</h1>
                </div>
                <span class="toolbarMiddleSpace"></span>

            </mat-toolbar-row>

            <mat-toolbar-row >
                <div class="container">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Monto</th>
                                <th>Forma de Pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Colegio</td>
                                <td>2'000.000</td>
                                <td>Manual App</td>
                            </tr>
                            <tr>
                                <td>SOAT</td>
                                <td>500.000</td>
                                <td>Automático</td>
                            </tr>
                            <tr>
                                <td>Celular</td>
                                <td>60.000</td>
                                <td>Manual</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </mat-toolbar-row>
            <mat-toolbar-row>  
                <span class="toolbarMiddleSpace"></span>
 
                <button routerLink="/main-page" routerLinkActive="active" ariaCurrentWhenActive="page" class="btnRecarga"
                mat-raised-button color="primary">Reporte</button>
                <span class="toolbarMiddleSpace"></span>

            </mat-toolbar-row>




            <footer>
                <app-footer> </app-footer>
            </footer>
        </mat-toolbar>

    </mat-sidenav-content>

</mat-sidenav-container>