<mat-toolbar class="header">
    <mat-toolbar-row>
        <img id="Logo" src="assets/images/icon.png" alt="Logo" height="90px">

        <span class="toolbarMiddleSpace"></span>

        <div class="ml-auto">

            <span class="toolbarMiddleSpace"></span>

            <button mat-button
                    id="Contacto"
                    routerLink="/contact"
                    routerLinkActive="active-link"
                    class="nav-button">
                Home
            </button>

            <span class="toolbarMiddleSpace"></span>

            <button mat-button
                    id="Login"
                    routerLink="/login"
                    routerLinkActive="active-link"
                    class="nav-button">
                Login
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>